<link href="https://fonts.googleapis.com/css?family=Righteous" rel="stylesheet">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<div class="container-fluid" id="parent">
<app-quote-form (addquote)="addNewQuote($event)"></app-quote-form>
<ul>
<div *ngFor='let quote of quotes; let i=index'>
<li> {{quote.id}},{{quote.name}}</li>

<button class="btn btn-primary" (click)='toogleDetails(i)'>Show Author and Date</button>
<button class="btn btn-success" type="button" name="button"><i class="glyphicon glyphicon-thumbs-up"></i>34 </button>
<button class="btn btn-danger" type="button" name="button"><i class="glyphicon glyphicon-thumbs-down"></i>34 </button>

<app-quote-detail  *ngIf="quote.showDescription"  [quote]='quote' (isComplete)= 'completeGoal($event,i)'> </app-quote-detail>
</div>
</ul>
<p *ngIf='quotes.length>6'>Feel inspired Today</p>
</div>
